* {
    margin: 0%;
}

header {
    background-color: #1F2937;
    height: 400px;
}

.container1 {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
}

.item1 {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 170px;
    margin-top: 7px;
}

.item2 {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 449px;
    margin-top: 7px;
}

.item2 span {
    margin-left: 10px;
}

.item3 {
    font-size: 48px ;
    color: #F9FAF8;
    font-weight: bold;
}

.item4 {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    width: 100px;
    height: 23px;
    color: #E5E7EB;
    border: #3882F6;
    border-radius: 4px;
    margin-top: 5px;
}

.container2{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 70px;
}

.item5 {
    width: 400px; 
    background-color: grey; 
    color: #F9FAF8;
    text-align: center;
    padding: 75px 25px;
    margin-right: 150px;
}

.item6 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    margin-left: 100px;
}

h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.empty {
    border: #3882F6 solid ;
    height: 140px;
    width: 150px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.container3{
    display: flex;
    margin-bottom: 50px;

}

.item7 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
    
.text {
    width: 160px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-top: 7px;
}

.one {
    margin-left: 210px;
    
}

.container4 {
    height: 200px;
    background-color: #E5E7EB;
}

.item8 {
    font-size: 36px;
    color: #1F2937;
    
}

.item9 {
    font-weight: bold;
    margin-top: 150px;
    margin-left: 569px;
}

.container5 {
    display: flex;
    height: 160px;
    justify-content: center;
    margin-top: 80px;
}

.item10 {
    background-color: #3882F6;
    width: 900px;
    height: 116px;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.time {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
}

.sign {
    color: #E5E7EB;
}

.btn {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: #F9FAF8 solid 2px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.item12 {
    color: #F9FAF8;
    font-weight: bold;
}
